html, body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    color: black;
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

.wz-text {
    background: #F8F8F8;
    height: 70%;
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: auto;
}

.wz-w-hide {
    background: #DFDFDF;
}

.wz-highlight {
    background: #ffff22;
}

.wz-highlight-current {
    background: #ffaa00;
}

.wz-words {
    font-family: monospace;
    line-height: 1.3rem;
    letter-spacing: -0.02rem;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.wz-w-ponctuation--1 {
    width: 0;
    display: inline-block;
}

.wz-w-ponctuation-0 {
    position: relative;
    left: -0.5rem;
    width: 0;
    display: inline-block;
    margin-right: -0.5rem;
}

.wz-w-ponctuation-1 {
    position: relative;
    left: -0.5rem;
    width: 0;
    display: inline-block;
}

.wz-w-ponctuation-2 {

}

.wz-w-ponctuation-quote {
    position: relative;
    left: 0.5rem;
    display: inline-block;
    margin-left: -0.5rem;
}

.wz-ui {
    background: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 30%;
    bottom: 0;
    z-index: 100;
    overflow: auto;
}

form, #wz-message-send {
    background: #EFEFEF;
    position: fixed;
    padding: 1rem;
    display: flex;
    align-content: center;
    width: 95%;
    width: calc(100% - 2rem);
}

#wz-message-send {
    display: none;
    z-index: 1000;
    text-align: center;
    margin: 0.5rem;
    border: solid 2px #005500;
    border-radius: 5px;
    background: #88ff88;
    font-weight: bold;
    width: 94%;
    width: calc(100% - 3rem);
}

#wz-message-send.wz-show {
    display: block;
}

form #wz-input-guess, form #wz-action-send {
    padding: 0.5rem;
    font-size: 1rem;
}

form #wz-input-guess {
    flex-grow: 2;
    height: 100%;
}

form #wz-action-send {
    flex-grow: 1;
    height: 100%;
    margin-left: 1rem;
}

#wz-list-tries {
    padding: 1rem;
    margin-top: 3.5rem;
}

#wz-list-tries div {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.5rem 0;
    border-bottom: dotted #888 1px;
}

#wz-list-tries .wz-tries {
    width: 3rem;
}

#wz-list-tries .wz-word {
    flex-grow: 1;
    text-transform: capitalize;
}

@media (prefers-color-scheme: dark) {
    html, body {
        color: white;
    }

    .wz-text {
        background: #080808;
    }

    .wz-w-hide {
        background: #2F2F2F;
    }

    .wz-ui, form {
        background: #1F1F1F;
    }

    .wz-highlight {
        background: #009988;
    }

    .wz-highlight-current {
        background: #0055aa;
    }

    #wz-message-send {
        border-color: #88ff88;
        background: #005500;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    form {
        width: 27%;
        width: calc(30% - 2rem);
        /* TODO continue to work on this case */
    }

    #wz-message-send {
        width: 26%;
        width: calc(30% - 3.5rem);
        /* TODO continue to work on this case */
    }

    .wz-text {
        height: 100%;
        width: 70%;
    }

    .wz-words {
        padding: 1rem 4rem;
    }

    .wz-ui {
        width: 30%;
        height: 100%;
        right: 0;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    form {
        width: 27%;
        width: calc(30% - 2rem);
    }

    #wz-message-send {
        width: 26%;
        width: calc(30% - 3.5rem);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
